:root {
  --primary: #2563EB;
  --primary-accent: #3B82F6;

  --text-heading: #1E293B;
  --text-body: #334155;

  --bg-light: #F1F5F9;
  --border-light: #E2E8F0;

  --success: #22C55E;
  --warning: #EAB308;
  --error: #EF4444;

  --white: #FFFFFF;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
  font-family: "Inter", sans-serif;
  color: var(--text-body);
  background-color: var(--bg-light);
  padding-top: 30px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
  padding: 10px 40px;
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

h1{
  padding: 2px;
  width: -10%;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: var(--bg-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.CTA{
  font-size: 1rem;
  font-weight: 600;
  width: 15rem;
  height: 45px;
  border-radius: 8px;
  padding: 5px 10px;
  margin-right: 100px;
  border: 1px solid white;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  flex-wrap: wrap;
  text-decoration: none;
}
.CTA:hover{
  background-color: var(--primary-accent);
  cursor: pointer;
  color: white;
  border: 1px solid var(--primary-accent); 
}

.about{
  margin-top: 50px;
  margin-bottom: 20px;
  padding-top: 80px;
  padding: 40px;
}
.ducora-slogan{
  font-family: "Poppins", sans-serif;
  font-size: 4.5rem;
  background-image: linear-gradient(45deg, var(--text-heading), var(--text-body), var(--primary)10%, var(--text-heading));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px auto;
  font-weight: 800;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.ducora-mission{
  padding: 5px;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  line-height: 40px;
  color: var(--text-body);
  text-align: center;
}

.column-1{
  padding: 20px;
  display: flex;
  align-items: center;
}
.column-2{
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  align-items: center;  
}

.register{
  margin-top: 70px;
}

form{
  margin: 30px 30px;
  padding: 30px;
}
.form-header{
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: var(--text-heading);
}
.form-description{
  padding: 5px;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
}

.bio{
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.label{
  padding: 0 5px;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.input{
  border: 1px solid;
  padding: 8px;
  width: 100%;
  max-width: 100%;
  height: 48px;
  font-size: 1rem;
  margin-top: 5px;
  border-radius: 8px;
}
.first-name, .surname,
.email, .mobile{
  margin: 0 10px;
  padding: 5px 10px;

}

.form-contact{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px 10px;
}

.submit{
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.submit-button{
  width: 31.5rem;
  border-radius: 8px;
  height: 45px;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.submit-button:hover{
  cursor: pointer;
  background-color: var(--primary-accent);
  color: white;
  border: 1px solid var(--primary-accent); 
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.footer-heading{
  color: var(--text-heading);
  text-align: center;
  font-weight: 400;
  font-family: "poppins", sans-serif;
  padding: 5px;
}
.footer-description{
  color: var(--text-body);
  margin: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  padding: 5px;
}

@media(max-width: 481px){
  header{
    max-width: 100vw;
  }

  h1{
    font-size: 1rem;
  }

  .CTA{
    max-width: 100vw;
  }

  .ducora-slogan{
    font-size: 1.5rem;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }

  p{
    font-size: 1rem;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }

  input{
    max-width: 100vw;
  }

  .submit-button{
    max-width: 100vw;
  }
}